/* shared styles */

* {
    font-family: "Work Sans", system-ui;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0 auto;
}

.btn-primary {
    border-radius: 8px;
    background: #ff900f;
    padding: 20px 25px;
    color: #fff;
    font-size: 1.25rem;
    font-weight: 400;
    border: 0;
    cursor: pointer;
}


.text-description-gray {
    color: #727272;
    margin: 15px 0;
}

/* header */

header {
    background-color: rgb(255, 144, 14, 0.10);
    padding: 50px 240px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 117px;
}

.nav-title {
    font-size: 2.8rem;
    font-weight: 700;
}

.nav-menu ul {
    display: flex;
}

.nav-menu li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}


nav li a {
    text-decoration: none;
    color: #424242;
}


/* Banner section */
.banner-content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner-container img {
    width: 100%;
    margin: 10px 0;
}


/* main styles */
main {
    max-width: 1440px;
    margin: 0 auto;
}

.teams-container {
    display: flex;
    padding: 85px 200px 110px 200px;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.teams-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.teams-img-container img {
    width: 100%;
}

.teams-content {
    max-width: 45%;
}


.teams-description {
    padding: 20px 0;
}


.teams-title {
    font-size: 2.8rem;
}

.teams-title-gray {
    color: #727272;
    font-weight: 500;
}

.teams-title-black {
    color: black;
    font-weight: 700;
}

.teams-title-orange {
    color: #FF900E;
}











/* media query */


/* small devices */

@media screen and (max-width: 576px) {
    header {
        padding: 10px 20px;
    }

    /* nav style */
    nav {
        flex-direction: column;
        margin-bottom: 50px;
        gap: 15px;
        margin-top: 20px;
    }

    .nav-title {
        font-size: 2rem;
        font-weight: 700;
    }

    /* banner style */
    .banner-title {
        font-size: 2.5rem;
        font-weight: 700;
        color: #131313;
    }

    /* main styles */
    .teams-container {
        flex-direction: column;
        padding: 8px 30px 11px 30px;
    }

    .teams-content {
        max-width: 100%;
    }
}

/* medium devices */

@media screen and (min-width: 576px) and (max-width: 992px) {
    header {
        padding: 10px 20px;
    }

    /* nav style */
    nav {
        flex-direction: column;
        margin-bottom: 50px;
        gap: 15px;
        margin-top: 20px;
    }


    /* main styles */
    .teams-container {
        flex-direction: column;
        padding: 8px 30px 11px 30px;
    }

    .teams-content {
        max-width: 80%;
    }
}